html {
    font-family: Arial, sans-serif;
    font-size: 16px
}

img {
    display: block;
    margin-top: 230px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

input {
    display: block;
    border-radius: 10px;
    border-color: lightgray;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px, 20px;
}

#about {
    list-style-type: none;
    font-size: medium;
    margin-left: 30px;
}

#store {
    list-style-type: none;
    font-size: medium;
    margin-top: -18px;
    margin-left: 100px;
}

#gmail {
    list-style-type: none;
    font-size: medium;
    margin-top: -18px;
    margin-left: 800px;
}

#images {
    list-style-type: none;
    font-size: medium;
    margin-top: -18px;
    margin-left: 870px;
}

#sign-in {
    list-style-type: none;
    font-size: medium;
    margin-top: -18px;
    margin-left: 950px;
    background: #4584ed;
    border-radius: 3px;
    background-clip: padding-box;
}